node_modules
.next
.env
.env.local
.env.*.local
prisma/dev.db
prisma/*.db
dist
build
.vercel
.vscode
.idea
*.log
dev.log
.DS_Store
coverage
.nyc_output
tmp
temp
public/uploads/*
*.exe
*.msi
*.dmg
*.zip
!public/covers/*
!public/downloads/*.zip
!public/downloads/*.exe

