node_modules
.next
.env
.env.local
.env.*.local
prisma/dev.db
prisma/*.db
dist
build
.vercel
.vscode
.idea
*.log
dev.log
.DS_Store
coverage
.nyc_output
tmp
temp
public/downloads/*.exe
public/downloads/*.msi
public/downloads/*.dmg
public/uploads/*
*.exe
*.msi
*.dmg
*.zip
!public/downloads/sandak-store-v4.zip
!public/covers/*

